body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.feedContainer{
  width: 150vh;
  text-align: left;
  margin-left: 12rem;
}

div{
  width: 100%;
}

.titulo{
  color: #b03060;
  font-size: 4rem;
  font-weight: bold;
}

.conteudo{
  display: flex;
  align-items: center;
  background-color: #3d2ca0;
  padding: 20px;
  border-radius: 15px;
  gap: 20px;
}

.texto{
  color: white;
  flex: 1;
  font-size: 2rem;
}

.imagem{
  width: 400px;
  position: relative;
  margin-right: 8rem;
  height: auto;
  border-radius: 5px;
  top: -12rem;
  z-index: 100;
}