.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modalBox {
  background: white;
  border-radius: 8px;
  width: 600px;
  max-width: 100%;
  padding: 0;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.modalHeader {
  background-color: #5a5a5a;
  color: white;
  padding: 10px 20px;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoSection {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  width: 40px;
  height: auto;;
  margin-left: 19rem;
}

.closeBtn {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.modalBody {
  padding: 20px;
  text-align: center;
}

.emailMessage {
  background-color: #e0e0e0;
  padding: 10px;
  margin-bottom: 15px;
  font-size: 14px;
}

.confirmText {
  font-size: 14px;
  color: #333;
  font-weight: 600;
}

.modalFooter {
  display: flex;
  justify-content: flex-end;
  padding: 15px 20px;
  gap: 10px;
}

.cancelBtn {
  background-color: white;
  border: 1px solid #ccc;
  padding: 8px 16px;
  border-radius: 20px;
  cursor: pointer;
}

.confirmBtn {
  background-color: #29b6f6;
  border: none;
  padding: 8px 16px;
  border-radius: 20px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
